apiVersion: v1   
kind: PersistentVolumeClaim
metadata:
  name: jenkins-pvc
  namespace: jenkins 
spec:
  storageClassName: jenkins-storage
  accessModes:
  - ReadWriteOnce    
  resources:
    requests:
      storage: 10Gi